Chat-Bot/Model-tune/finetuned/model/model.safetensors
Chat-Bot/docs/AI ChatBot Group Work - WarmWhisper.pdf
Chat-Bot/docs/photo_2025-03-17_09-23-24.jpg
Chat-Bot/docs/photo_2025-03-17_09-23-35.jpg
Chat-Bot/docs/Warm Whisper Chatbot.mp4
Chat-Bot/docs/Warm Whisper.mp4
